<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login - Linjeforeningen for IT</title>
	<meta charset="utf-8" />
</head>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<header>
  {% block header %}
    {% include "ntnulogin/includes/navbar.html" %}
  {% endblock %}
</header>

<body class="body" style="background-color:#f6f6f6">
	<div>
	   {% block content %}
	   {% endblock %}
	</div>
</body>

<footer>
  {% block footer %}
    {% include "ntnulogin/includes/footer_info.html" %}
  {% endblock %}
</footer>

</html>
