<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-md-4">
        <h5>Følg oss på</h5>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
        </button>
      </div>
      <div class="col col-md-4">
        <h5>Postadresse</h5>
        Login - Linjeforening for IT <br>
        NTNU i Gjøvik <br>
        Postboks 191 <br>
        2802 Gjøvik <br>
        <h5>Besøksadresse</h5>
        NTNU i Gjøvik (G-Bygget) <br>
        Teknologiveien 22 <br>
        2815 Gjøvik <br>
      </div>
      <div class="col col-md-4">
        <h5>Om Login</h5>
        <p>Login er linjeforeningen for IT-studiene på NTNU i Gjøvik.
         Hensikten med linjeforeningen er å få til et godt sosialt og faglig miljø,
         slik at samholdet mellom IT-studentene blir bedre.
        Login jobber blant annet for at studentene skal få bedre kontakt med næringslivet.</p>
      </div>
    </div>
  </div>
</footer>
