<div class="row panel hide-for-print">
  <div class="row show-for-small">
    <div class="small-6 columns">
      <h6 class="subheader">Følg oss på</h6><h1><a title="Følg Login på Facebook" href="https://www.facebook.com/higlog"><i class="icon-facebook"></i></a>
      <a title="Følg Login på Twitter" href="https://twitter.com/higlog"><i class="icon-twitter"></i></a></h1>
    </div><!-- .small-6 .columns -->

    <div class="small-6 columns">
      <h6 class="subheader">Kontakt oss</h6><small><script type="text/javascript"><!--
var pjqsrsb = ['s','i','r',' ','c','o','o','n','a','=','"','a','i','g','l',':','k',' ','l','i','v','n','o','.','"','t','a','n','t','g','l','=','n','@','l','"','f','j','i','g','.','i','>','n','o','.','s','n','n','"','k','m','h','i','.','l','o','u','a','j','n','@','>','u','a','o','<','g','o','v','m','e','<','/','t','e'];var myxztfn = [41,62,4,37,38,24,14,65,47,7,44,74,19,54,12,15,27,2,39,11,25,56,60,69,36,66,1,70,13,22,16,43,67,21,52,8,6,23,48,58,28,55,75,20,71,64,42,34,31,50,63,9,3,26,33,49,53,68,10,59,29,57,51,32,40,17,72,18,35,61,46,5,0,73,30,45];var yopjlaq= new Array();for(var i=0;i<myxztfn.length;i++){yopjlaq[myxztfn[i]] = pjqsrsb[i]; }for(var i=0;i<yopjlaq.length;i++){document.write(yopjlaq[i]);}
// --></script><a href="mailto:login@gjovik.ntnu.no" class="email">login@gjovik.ntnu.no</a><noscript>Please enable Javascript to see the email address</noscript></small><br><br>
    </div><!-- .small-6 .columns -->

    <div class="small-12 columns"><h6 class="subheader">Om Login</h6><small>Login er linjeforeningen for IT-studiene på NTNU i Gjøvik. Hensikten med linjeforeningen er å få til et godt sosialt og faglig miljø, slik at samholdet mellom IT-studentene blir bedre. Login jobber blant annet for at studentene skal få bedre kontakt med næringslivet.<br><br>Org.nr.: 811 940 372</small><br><br>
    </div><!-- .small-12 .columns -->
  </div><!-- .row .show-for-small -->

  <div class="row">
    <div class="large-3 columns hide-for-small">
      <h6 class="subheader">Følg oss på</h6><h1><a title="Følg Login på Facebook" href="https://www.facebook.com/higlog"><i class="icon-facebook"></i></a> <a title="Følg Login på Twitter" href="https://twitter.com/higlog"><i class="icon-twitter"></i></a></h1>
      <h6 class="subheader">Kontakt oss</h6><small><script type="text/javascript"><!--
var pjqsrsb = ['s','i','r',' ','c','o','o','n','a','=','"','a','i','g','l',':','k',' ','l','i','v','n','o','.','"','t','a','n','t','g','l','=','n','@','l','"','f','j','i','g','.','i','>','n','o','.','s','n','n','"','k','m','h','i','.','l','o','u','a','j','n','@','>','u','a','o','<','g','o','v','m','e','<','/','t','e'];var myxztfn = [41,62,4,37,38,24,14,65,47,7,44,74,19,54,12,15,27,2,39,11,25,56,60,69,36,66,1,70,13,22,16,43,67,21,52,8,6,23,48,58,28,55,75,20,71,64,42,34,31,50,63,9,3,26,33,49,53,68,10,59,29,57,51,32,40,17,72,18,35,61,46,5,0,73,30,45];var yopjlaq= new Array();for(var i=0;i<myxztfn.length;i++){yopjlaq[myxztfn[i]] = pjqsrsb[i]; }for(var i=0;i<yopjlaq.length;i++){document.write(yopjlaq[i]);}
// --></script><a href="mailto:login@gjovik.ntnu.no" class="email">login@gjovik.ntnu.no</a><noscript>Please enable Javascript to see the email address</noscript><br><br><a title="#Login på EFnet" href="https://kiwiirc.com/client/irc.efnet.org/Login">#Login på EFnet</a><br><br><a title="Login på Slack" href="https://login-ntnu.slack.com">Login på Slack</a></small><br><br>
    </div><!-- .large-2 .columns .hide-for-small -->

    <div class="large-3 columns">
      <h6 class="subheader">Postadresse</h6><small>Login – Linjeforening for IT<br>NTNU i Gjøvik<br>Postboks 191<br>2802 Gjøvik</small><br><br>
      <h6 class="subheader">Besøksadresse</h6><small>NTNU i Gjøvik (G-Bygget)<br>Teknologiveien 22<br>2815 Gjøvik</small><br><br>
    </div><!-- .large-2 .columns -->

    <div class="large-6 columns hide-for-small"><h6 class="subheader">Om Login</h6><small>Login er linjeforeningen for IT-studiene på NTNU i Gjøvik. Hensikten med linjeforeningen er å få til et godt sosialt og faglig miljø, slik at samholdet mellom IT-studentene blir bedre. Login jobber blant annet for at studentene skal få bedre kontakt med næringslivet.<br><br>Org.nr.: 811 940 372</small><br><br>
    </div><!-- .large-6 .columns .hide-for-small -->
  </div><!-- .row -->

  <div class="small-12 columns"><br><center><small>Opphavsrett © 2017 Login - <a href="../personvern/">Personvern</a> - <a href="#" data-reveal-id="login">Logg inn</a> - <a href="http://janwilliam.com/" title="Jan William Johnsen">Utviklet av Jan William</a></small></center><br><!--  - <a href="http://wordpress.org/" title="Sematisk, personlig publiseringsplattform">Stolt drevet av WordPress</a> - <a href="https://webhuset.no/" title="Webhotell, domene og dedikert server">Hostet på Webhuset</a> -->
  </div><!-- .small-12 .columns -->
</div>
